body {
    font-family: 'Poppins', sans-serif;
    background-image: url("../hero-bg.jpg") !important;
    overflow-x: hidden;
}

.detail-box {
    color: #fff;
    padding: 10vh;
}

.hero_area .hero_bg_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../hero-bg.jpg");
    overflow: hidden;
    z-index: -1;
    background-color: #f26483;
}

.hero_area .hero_bg_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left bottom;
}

.hero_area .hero_bg_box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
}

.navbar-brand span {
    color: #f26483;
}

.custom_nav-container .navbar-nav {
    margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 30px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 15px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.custom_nav-container .navbar-nav .nav-item .nav-link i {
    margin-right: 5px;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link {
    color: #f26483;
}

.custom_nav-container .nav_search-btn {
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
    color: #ffffff;
}

.custom_nav-container .nav_search-btn:hover {
    color: #f26483;
}

.custom_nav-container .navbar-toggler {
    outline: none;
}

.custom_nav-container .navbar-toggler {
    padding: 0;
    width: 37px;
    height: 42px;
    -webkit-transition: all .3s;
    transition: all .3s;
}
